<div class="container home">
    <form (ngSubmit)="ngSubmit()">
        <input type="text" [(ngModel)]= "university.universityName" name ="universityName"placeholder="University Name">
        <input type="text" [(ngModel)]= "university.courses" name ="courses" placeholder="Course Name">
        <select class="mb-3"
            [(ngModel)]= "university.departments" name ="departments">
                <option value="">Choose department</option>
                <option *ngFor="let department of departments">
                    {{ department }}
                </option>
            </select>
        <input type="submit" value="Search">
    </form>
</div>
<div style="height: 50px;"></div>
<div *ngIf="isSearchresults">
    Search Results for:
    <span *ngIf="university.universityName!=undefined">University Name: {{university.universityName}},</span><span *ngIf="university.courses!=undefined">Course Name: {{university.courses}},</span> <span *ngIf="university.departments!=undefined">Department: {{university.departments}}</span>
</div>
    <table class = "table table-striped">
        <tbody>
            <h2 *ngIf="isLoggedIn">Your Last Visited</h2>
            <tr class = "row row-cols-2" *ngIf="isLoggedIn && lastVisited.universityName!=undefined">
                <td [routerLink]="['/university',lastVisited.id,lastVisited.universityName]"class="col university">
                        <img src="assets/img/{{lastVisited.images[0]}}" alt="logo">
                        <h4>{{lastVisited.universityName}}</h4>
                        <div>{{lastVisited.address}}</div>
                        <div class="rating"><ngb-rating [max]="5" [(rate)]="lastVisited.rating" [readonly]="true"></ngb-rating><span>{{lastVisited.rating}}</span></div>
                </td>
            </tr>
            <h2>Universities</h2>
            <tr class = "universityRow row row-cols-2">
                <td [routerLink]="['/university',uni.id,uni.universityName]" *ngFor = " let uni of universities" class="col university">
                    <img src="assets/img/{{uni.images[0]}}" alt="logo">
                    <h4>{{uni.universityName}}</h4>
                    <div>{{uni.address}}</div>
                    <div class="rating"><ngb-rating [max]="5" [(rate)]="uni.rating" [readonly]="true"></ngb-rating><span>{{uni.rating}}</span></div>
                </td>
            </tr>
        </tbody>
    </table>