.jobs{
    width: 40%;
    margin: 5%;
    background-color: #dee2e6;
    cursor: pointer;
}
.jobImage{
    width: 100%;
}
.jobLogo{
    width: 15%;
}
input[type=text]{
    margin: 10px;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.jobsearch-InfoHeaderContainer{
    padding:10px;
    background-color: #86b7fe;
}
.jobsearch-BodyContainer {
    height: 252px;
    padding: 10px;
}
.partTimeImg{
    width: 100%;
}
a {
    color: blue;
}